/* Staret variables */
:root{
    --main-color:#19c8fa;
    --tranparent-color:rgb(15 116 143 / 70%);
    --padding-top:100px;
    --padding-bottom:100px;
}
/* End variables */

.main-heading{
    text-align: center;
}
.main-heading h2{
    position: relative;
    font-size: 40px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 70px;
}
.main-heading h2::before{
    content: '';
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 120px;
    background-color: #333;
    

}
.main-heading h2::after{
    content: '';
    position: absolute;
    bottom: -38px;
    left: 50%;
    transform: translateX(-50%);
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid;
    

}
.main-heading p{
    width: 550px;
    margin: 0 auto 100px;
    line-height: 1.9;
    color: #777;
    max-width: 100%;

}
/* Start Globale Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
html{
    scroll-behavior: smooth;
    line-height: 1.15;
}
body{
    font-family: 'Cairo', sans-serif;
    font-family: 'Jomhuria', cursive;
    font-family: 'Open Sans', sans-serif;
    
    
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
ul{
    list-style: none;
}

/* Mobile */
@media (min-width : 576px){
    .container{
        width: 520px;
    }
}
/* Small screen */
@media (min-width : 768px){
    .container{
        width: 750px;
    }
}
/* medium screen */
@media (min-width : 992px){
    .container{
        width: 970px;
    }
}
/* Large screen */
@media (min-width : 1200px){
    .container{
        width: 1170px;
        
    }
}
/* End Globale Rules */

/* Start Header */
header{
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}
header .container::after{
    content: '';
    position: absolute;
    height: 1px;
    background-color: #a2a2a2;
    width: calc(100% - 30px);
    bottom: 0px;
}
header .container img{
    height: 40px;
}

header nav{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
header nav .toggle-menu{
    color: white;
    font-size: 22px;

}
@media (min-width: 768px)  {
    header nav .toggle-menu{
        display: none;

    }
}
header nav ul{
    display: flex;
    justify-content: flex-end;

}
header nav ul li a{
    padding: 40px 10px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
    font-size: 14px;
}
@media (max-width :767px) {
    header nav ul li a{
        display: none;
    }


}
header nav ul li .active,
header nav ul li a:hover{
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
header nav ul li .active{
    position: relative;
}
header nav .form{
    position: relative;
    width: 40px;
    height: 30px;
    color: white;
    margin-left: 30px;
    border-left: 1px solid white;

}
header nav .form i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    right: 0;
}
/* End Header */

/* Start Landing */

.landing{
    min-height: 100vh;
    background-image: url("../Images/landing.jpg");
    background-size: cover;
    position: relative;
}
.landing .overlay{
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 30%);
    position: absolute;
    top: 0;
    left: 0;

}
.landing .text{
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translatey(-50%);
    color: white;
    display: flex;
    justify-content: flex-end;
    width: 50%;
    background-color: var(--tranparent-color);
    padding: 50px;
    
}
.landing .text .contant{
    
    max-width: 85%;
}
@media (max-width:767px){
    .landing .text{
        width: 100%;
    }
    .landing .text .contant{
        max-width: 100%;
    }
}
.landing .text .contant h2{
    line-height: 1.5;
    font-weight: normal;
    font-size: 32px;
    margin-bottom: 20px;

}
.landing .text .contant p{
    line-height: 2;
    font-size: 14px;

}
.circul{
    
    position: absolute;
    bottom: 20px;
    left: 50%;
    display: flex;
    transform: translateX(-50%);
    
}
.circul div{
    width: 20px;
    height: 20px;
    border-radius: 50% ;
    border: 1px solid white;
    margin-right: 10px;
}
.circul div:nth-child(2){
    background-color: var(--main-color);
    border: none;
}
.landing .change-background{
    position: absolute;
    color: #ddd;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
}
@media(max-width:767px){
  .landing .change-background{
    display: none;

    }
}
.landing .fa-angle-left{
    left: 30px;
    
    
}
.landing .fa-angle-right{
    right: 30px;
}
/* End Landing */

 /* Start Service  */
.service{
    padding-top: 100px;
    padding-bottom: 100px;
}
@media(min-width:767px){
    .service-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr) );
        grid-column-gap: 40px;
        grid-row-gap: 60px;
    }
}

.service-container .srv-box{
    display: flex;
}
.service-container .srv-box i{
    margin-right: 50px; 
}
@media(max-width:767px){
    .service-container .srv-box{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px;
    }
    .service .srv-box i{
        margin:  0 0 30px 0 ;
    }
}

/* .service-container .srv-box .text{
    margin-bottom: 40px;
} */
.service-container .srv-box .text h3{
    color: var(--main-color);
    margin-bottom: 30px;
}
.service-container .srv-box .text p{
    line-height:1.9;
    color: #777;
}
.design-features{
    min-height: 80vh;
    background-image: url("../Images/design-features.jpg");
    background-size: cover;
    position: relative; 
    
}
.design-features .overlay{
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
    position: absolute; 
    top: 0;
    left: 0;
    z-index: 1; 
}
.design-features .text{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.design-features .text img{
     position: absolute;
     z-index: 2;
     bottom: -70px;
     left: 170px;
     width: 300px;
}
@media (max-width:767px) {
    .design-features .text img{
        display: none;
    }
    
}
.design-features .text .contant{
    display: flex;
    flex-direction: column;
    background-color: var(--tranparent-color);
    width: 53%;
    padding: 20px;
    color: white;
    z-index: 2;
    position: absolute;
    top: 20%;
}
@media (max-width:767px) {
    .design-features .text .contant{
        width: 100%;
        height: 350px;
    }
    
}
.design-features .text .contant h3{
    padding: 20px;
    font-weight: normal;
    font-size: 22px;
    margin-bottom: 10px;
}
.design-features .text .contant .features{
    display: flex;
    font-weight: normal;
}
.design-features .text .contant .features i{
    font-size: 14px;
    padding: 20px;
    padding-bottom: 0;
}
.design-features .text .contant .features p{
    padding: 15px 0px;
    font-size: 14px;
}
 /* End Service  */
 /* Start Profile  */
.portfolio{
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
}
.portfolio .shufill{
    display: flex;
    justify-content: center;
}
.portfolio .shufill .active{
    background-color: var(--main-color);
    color: white; 
}
.portfolio .shufill li{
    padding: 10px;
}
.images-container{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
}
.images-container .box{
   flex-basis: 25%;
   overflow: hidden;
   position: relative;
}
@media (max-width:767px) {
    .images-container .box{
        flex-basis: 100%;
        max-width: 100%;
    }
    
}
.images-container .box:hover .caption{
    bottom: 0;
}
.images-container .box img{
    max-width: calc(100%);
    transition: 0.3s; 
}
.images-container .box:hover img{
    transform:rotate(3deg) scale(1.1); 
}
.images-container .caption{
    padding: 20px;
    position: absolute;
    left: 0;
    bottom: -100%;
    background-color: white;
    width: 100%;
    transition: 0.3s;  
}

.images-container .caption h4{
    margin-bottom: 10px;
    font-weight: normal;
}
.images-container .caption p{
    color: var(--main-color);
}
.portfolio .more{
    padding: 15px 20px;
    background-color: var(--main-color);
    text-decoration: none;
    color: white;
    text-align: center;
    margin: 30px auto;
    display: block;
    width: fit-content;
}
 /* End Profile  */
 /* Start Video */
.video{
    display: flex;
    align-items: center;
    position: relative;
    text-align: center;
}
.video video{
    max-width: 100%;
}
.video::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 /40%);
}
.video .text{
    position: absolute;
    width: 100%;
    padding: 60px;
    background-color: var(--tranparent-color);
    color: white;
}
.video .text h2{
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: normal;
}
.video .text p{
    margin-bottom: 30px;
}
.video .text buttom{
    background-color: black;
    padding: 10px 20px;
    text-transform: uppercase;
}

 /* End Video  */
 /* Start About */
.about{
    padding-top: var(--padding-top);
    position: relative;

}
.about .main-heading img{
    position: relative;
    max-width: 100%;
    
}
.about .status{
    position: relative;
    bottom: 120px;
    background-image: url("../Images/stats.png");
    background-size: cover;
    min-height: 70vh;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.about .status::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 /70%);
}
.status .container{
    display: flex;
    position: relative;
    
}
@media (max-width:767px){
    .about .status .container{
        flex-direction: column;
        flex-basis: 25%;
    }
}
    
.about .status .container .col{
    padding: 50px;
    color: white;
    background-color: var(--tranparent-color);
    flex-basis: 25%;
    
}
.about .status .container .col i{
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
    margin-bottom: 30px;

}
.about .status .container .col i::before{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}
.about .status .container .col h2{
    font-size: 50px;
    margin-bottom: 30px;

}
.about .status .container .col p{
    font-size: 14px;

}
.ourskill .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (max-width:767px){
    .ourskill .container{
        flex-direction: column;

    }

}
.ourskill .container .TESTIMONIALS{
    flex-basis: 45%;
}
.ourskill .container .skill-contant{
    text-align: center;
}
.ourskill .container .skill-contant h3{
   margin-bottom: 20px;
   font-weight: normal;
   text-transform: uppercase;
   

    
}
.ourskill .container .skill-contant p{
    margin-bottom: 60px;
    line-height: 2;
    text-align: center;
    color: #777;
}
.container .person-skill{
    display: flex;
    margin-bottom: 25px;
    
}
@media (max-width:767px){
    .container .person-skill{
        flex-direction: column;
        text-align: center;
    }
}
.container .person-skill img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 50px;
}
@media (max-width:767px){
    .container .person-skill img{
        margin: 0 auto 20px;
    }
}
.container .person-skill .contant{
   border-bottom: 1px solid rgba(119, 119, 119, 0.375);
}
.container .person-skill .contant h5{
    font-size: 16px;
    font-weight: normal;
    line-height: 1.8;
}
.container .person-skill .contant p{
    color: #777;
    margin: 10px 0;
    text-align: right;
    font-size: 14px;
}
.ourskill .container .skills{
    flex-basis: 45%;
}
.ourskill .container .TESTIMONIALS .circul2{
    display: flex;
    justify-content: center;
    margin: 50px;
}
.ourskill .container .TESTIMONIALS .circul2 div{
    width: 15px;
    height: 15px;
    border-radius: 50% ;
    border: 1px solid #777;
    margin-right: 10px;
}
.ourskill .container .TESTIMONIALS .circul2 div:nth-child(2){
    background-color: var(--main-color);
    border: none;
}
.ourskill .skills .prog-holder{
    margin-bottom: 50px;
}
.ourskill .skills .prog-holder h4{
    font-weight: normal;
    margin-bottom: 15px;
}
.ourskill .skills .prog-holder .prog {
    background-color: #77777754;
    position: relative;
    height: 30px;
}
.ourskill .skills .prog-holder .prog span::before{
    content: attr(data-progress);
    position: absolute;
    background-color: black;
    right: -20px;
    top: -45px;
    width: 35px;
    padding:5px;
    color: white;
    text-align: center;
    border-radius: 5px;
} 
.ourskill .skills .prog-holder .prog span::after{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px;
    border-color: black transparent transparent transparent;
    right: -7px;
    top: -17px;
} 
.ourskill .skills .prog-holder .prog span{
    background-color: var(--main-color);
    height: 100%;
    position: relative;
    display: block;
}
.about .qoute{
    background-image: url("../Images/quote.jpg");
    background-size: cover;
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    text-align: center;
    margin: 100px 0;
    position: relative;
    color: white;
}
.about .qoute::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 80%);
    left: 0;
    top: 0;
}
.about .qoute .container{
    position: relative;
}
.about .qoute .container h2{
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 20px;
}
/* End about  */
/* Start pricing */
.pricing{
    
    padding-bottom: var(--padding-bottom);
}
.pricing .plans{
    display: flex;
    justify-content: space-between;
}
@media (max-width:767px){
    .pricing .plans{
        flex-direction: column;
    }
}
.pricing .plans .plan{    
    flex-basis: 23%;
    background-color: #7fffd40d;
    text-align: center;
}
.pricing .plans .plan .head{    
    padding: 30px;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
.pricing .plans .plan .head h3{
    padding: 20px;
    font-weight: normal;
}
.pricing .plans .plan .head span{
    position: relative;
    font-weight: bold;
    font-size: 60px;
}

.pricing .plans .plan .head span::before{
    content: '$';
    position: absolute;
    font-size: 25px;
    left: -30px;
    top: -5px;
    font-weight: normal;
}
.pricing .plans .plan .head span::after{
    content: '/MO';
    position: absolute;
    font-size: 18px;
    bottom: 15px;
    right: -50px;
}
.pricing .plans .plan ul li{
padding: 20px;
margin: auto;
border-bottom: 1px solid var(--main-color);
width: max-content;
}
.pricing .plans .plan ul li:last-child{
   width: 100%;
}
.pricing .plans .plan .foot{
    margin: 30px auto;
    border: 1px solid var(--main-color);
    width: fit-content;
    padding: 20px;
}
.pricing .plans .plan .foot a{
   text-decoration:none;
}
.pricing .container p{
    margin: 50px auto 20px;
    text-align: center;
    font-size: 20px;
}
.pricing .container .link{
    text-decoration: none;
    color: white;
    background-color: var(--main-color);
    margin: 5px auto;
    text-align: center;
    padding: 15px 30px;
    display: block;
    width: fit-content;
}
/* End pricing */
/* Start Subscribe */
.subscribe{
    background-image: url("../Images/subscribe.jpg");
    background-size: cover;
    position: relative;
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    color: white;
}
.subscribe::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
    left: 0;
    top: 0;
}
.subscribe .container{
    display: flex;
    position: relative;
}
@media (max-width:767px){
    .subscribe .container{
        flex-direction: column;
    }
}
.subscribe .container form{
    border: 1px solid white;
    display: flex;
    align-items: center;
    height: 60px;
    width: 45%; 
}
@media (max-width:767px){
    .subscribe .container form{
        width: 100%;
    }
}
.subscribe .container form i{
    font-size: 20px;
   margin-left: 20px;
}
.subscribe .container form input{
    font-size: 16px;
    background: none;
    border: none;
    caret-color: var(--main-color);
    outline: none;
    margin-left: 15px;
    width: calc(100% - 130px);
}

.subscribe .container form input::placeholder{
color: white;
}
.subscribe .container form .subsc-bottom{
    width: 130px; 
    height: 100%;
   background-color: var(--main-color);
   padding: 20px 25px;
   text-transform: uppercase;
}

.subscribe .container p{
    line-height: 1.8;
    margin-left: 50px;
}
@media (max-width:767px){
    .subscribe .container p{
        margin: 30px 0 0;
    }
}
/* End Subscribe */

/* Start Contact */
.contact{
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
}
.contact .container .contact-data{
    display: flex;
}
@media (max-width:767px){
    .contact .container .contact-data{
        flex-direction: column;
    }
}
.contact .container .contact-data form{
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
}
.contact .container .contact-data form input[type="text"]{
    padding: 20px;
    outline: none;
    border: 1px solid #7777776e;
    margin-bottom: 30px;
    font-size: 18px;
}
.contact .container .contact-data form input[type="email"]{
    padding: 20px;
    outline: none;
    border: 1px solid #7777776e;
    margin-bottom: 30px;
    font-size: 18px;
}
.contact .container .contact-data form textarea{
    outline: none;
    border: 1px solid #7777776e;
    font-size: 18px;
    padding: 20px;
    height: 200px;
    margin-bottom: 30px;
}
.contact .container .contact-data form textarea::placeholder{
    font-family: sans-serif;
}
.contact .container .contact-data form input[type="submit"]{
    background-color: var(--main-color);
    border: none;
    padding: 20px;
    color: white;
    font-size: 16px;
    display: flex;
    margin-left: auto;
    text-transform: uppercase;
}

.contact .container .contact-data .info{
    margin-left: 50px;
}
@media (max-width:767px){
    .contact .container .contact-data .info{
        order: -1;
        text-align: center;
        margin: 0;
        margin-bottom: 30px;
    }
}
.contact .container .contact-data .info h4{
    margin-bottom: 30px;
    font-weight: normal;
    font-size: 20px;
}
.contact .container .contact-data .info h4:nth-of-type(2){
    margin-top: 90px;
}
.contact .container .contact-data .info span{
    display: block;
    margin-bottom: 10px;
    color: #777;
}
.contact .container .contact-data .info address{
    color: #777;
    line-height: 1.8;
}
/* End Contact */
/* Start footer */
footer{
    background-image: url("../Images/subscribe.jpg");
    background-size: cover;
    position: relative;
    padding: 50px 0;
    color: white;
}
footer::before{
    content: "";
    position: absolute;
    background-color: rgb(0 0 0 / 70%);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
footer .container{
position: relative;
text-align: center;
}
footer .container img{
    margin-bottom: 30px;
}
footer .container p:nth-of-type(1){
    margin: 20px auto;
    width: max-content;
    font-size: 24px;
    border-bottom: 1px solid;
    padding: 20px;
}

footer .container .social-icon i{
    padding: 15px;
}
footer .container .copyright{
   margin-top: 60px;

}
footer .container .copyright span{
    color: #19c8fa;
    font-weight: bold;
}
/* end  footer */